#post > #post-info #post-meta,
/* force meta display one line */
#post > #post-info #post-meta {
  display: flex;
  justify-content: space-evenly;
}

#aside-content .card-info-data > a:nth-child(3){
  display: none;
}
